<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Successful Registration</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Success! Welcome, {{user.first_name}}</h1>

      <form action="/logout" method="post">
        {% csrf_token %}
        <input type="submit" value="log out">
      </form>

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <br>

      <form action="/postsecret" method="post">
        {% csrf_token %}
        <textarea name="makesecret" rows="8" cols="80" placeholder="Tell me a secret.."></textarea><br />
        <input type="submit" value="Post">
      </form>

      <br><hr><br>

      <a href="/mostpopularsecrets">Click this link to view most popular secrets</a>

      <br><hr>

      <h1>Recent Secrets...</h1>
      {% for secret in postedsecrets %}
      <p>{{secret.content}}<br>({{ secret.created_at}})</p>
      {% if user in secret.likedby.all%}
      <p> you liked this </p>
      {% elif secret.creator.id != request.session.userid %}
      <form action='/likesecret/sec/{{secret.id}}' method='POST'>
        {% csrf_token %}
        <input type="submit" value="like">
      </form>
      {{secret.count}}
      {% endif %}

      {% if secret.creator.id == request.session.id %}
      <p> You posted this </p>

      <form action='/deletesecret/sec/{{secret.id}}' method='POST'>
          {% csrf_token %}
          <input type="submit" value="Remove" class="remove">
      </form>
      {% endif %}
      {% endfor %}

      <br><hr>

      <h3>Warning! Clicking delete user will permanently delete your account.</h3>
      <form action="/delete/{{user.id}}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete my user account">
      </form>

      <br>
    </div>
  </body>
</html>
